/*

Implement a basic two-column layout, in which left column takes up 25% width of the container with minimum 
width of 100px and right column fills up the rest.

**************************************************************Solution****************************************************/

.container {
  height: 300px;

  display: grid;
  grid-template-columns: minmax(100px, 25%) auto;
}

.left {
  background-color: #f44336;
}

.right {
  background-color: #2973af;
}
